body {
  background-color: #fae3b4;
  font-family: Convergence, sans-serif;
  line-height: 1.6; }

main {
  margin: 0 auto;
  max-width: 900px;
  min-width: 380px;
  background-color: white; }

p {
  margin: 1em; }

section {
  margin: 0 1em; }
  section p {
    margin: 1em 0; }

h1 {
  margin: 0;
  padding: 3em 0 0.5em;
  color: white;
  background-color: #f34a53;
  text-align: center; }

h2 {
  margin: 3em 0 0; }

h3 {
  margin: 2em 0 0; }

figure {
  margin: 1em 0;
  text-align: center; }

table {
  width: 100%; }
  table th {
    color: white;
    background-color: #437356; }
  table td, table th {
    padding: 0.25em;
    border: 1px solid #aac789; }

pre.prettyprint {
  margin: 1em -3em;
  padding: 15px;
  font-size: 12px;
  font-family: consolas, menlo, monaco, monospace;
  background-color: rgba(9, 9, 9, 0.7); }
